<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UIAlertController和UIAlertAction.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E6687F941CF1E4DE00C7808C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E6687FAD1CF1E4DE00C7808C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E6687FB81CF1E4DE00C7808C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
